* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
.scenes {
	margin: 50px auto;
	width: 1200px;
	height: 1200px;
	border: 1px solid #ddd;
	border-radius: 10px;
}

.scenes ul{
	justify-content: space-between;
	align-content: space-between;
	display: flex;
	flex-wrap: wrap;

	padding: 90px 40px 90px 60px;
	height: 418px;
}

.box li {
	width: 500px;
	height: 500px;
}

img {
	width: 400px;
	height: 400px;
}